{% extends 'base/base.html' %}

{% block title %}Tenicons | Home{% endblock %}

{% block css %}{% endblock %}

{% block home %}active{% endblock %}
{% block about %}{% endblock %}
{% block contact %}{% endblock %}

{% block body %}
{% load static %}
<div id="carousel-img-intro" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'home/img_1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'home/img_2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
    </div>
</div>

<div class="search-box">
    <form class="d-flex  mx-3 my-4" action="/search" method="GET">
        <input type="hidden" name="search_item_category" id="search_item_category" value="all">
        <div class="input-group me-2">
            <input type="search" class="form-control" id="search_query" name="search_query" placeholder="Search icons, illustrations , images and wallpapers" aria-describedby="search-btn">
            <button class="btn btn-outline-info" type="submit" id="search-btn">Search</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mx-4 my-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'home/intro-img-1.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Icons</h5>
                            <p class="card-text">Get some Icons Free for your apps and get started now. Build your apps with awesome icons. we have many icons of same family.</p>
                            <p class="card-text"><small class="text-muted"></small><a href="" class="link-text">Click to get some icons now</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mx-4 my-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'home/intro-img-2.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Illustrations</h5>
                            <p class="card-text">Here some illustrations Free for your web and mobile app and create some user-friendly apps. Build with awesome illustrations.</p>
                            <p class="card-text"><small class="text-muted"></small><a href="" class="link-text">Click to get some illustrations now</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mx-4 my-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'home/intro-img-3.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Images and Wallpapers</h5>
                            <p class="card-text">Images and Wallpapers for free for your development in apps and websites as well as for Desktops. Simply sign in and get them now.</p>
                            <p class="card-text"><small class="text-muted"></small><a href="" class="link-text">Click to get some Images now</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mx-4 my-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'home/intro-img-4.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Create Account or Login</h5>
                            <p class="card-text">Create your TenIcons Account for Downloading latest icons, illustration, wallpaper and UI designs. Sign in and get them now.</p>
                            <p class="card-text"><small class="text-muted"></small><a href="" class="link-text">Click to get Login now</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}