<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% load static %}{% static 'logo/tenicons-logo-trans.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>

    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: #ffffff;
        }

        ::-webkit-scrollbar-thumb {
            background: rgb(136, 136, 136);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgb(85, 85, 85);
        }

        .link-text {
            color: grey;
            font-size: small;
            text-decoration: none;
        }

        .logo-text {
            padding:0px 40px 40px 40px;
        }

        .footer-links {
            padding: 0px 40px 40px 40px;
        }

        .footer-links table tr th,
        td {
            height: 35px;
            width: 180px;
        }

        {% block css %}{% endblock %}
    </style>

    {% block jquery_src %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
            {% load static %}
            <img src="{% static 'logo/tenicons-logo-faded.jpg' %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
            <strong>Tenicons</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link {% block home %}{% endblock %}" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block about %}{% endblock %}" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block contact %}{% endblock %}" href="/contact">Contact</a>
                    </li>
                </ul>
                {% if auth_status %}
                <a class="d-flex mx-2" href='/profile'>
                    <img src="{{profile_pic_url}}" alt="" width="30" height="30" class="d-inline-block align-text-top" style="border-radius: 50%;">
                </a>
                {% endif %}
                <a class="btn btn-outline-info d-flex mx-2" href="{{form_action_url}}">{{button_title}}</a>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

    {% block js %}{% endblock %}

    <footer class="bg-light">
        <div>
            <img src="{% static 'logo/tenicons-logo-faded.jpg' %}" alt="" style="max-width: 100px; max-height: 100px;padding-left: 20px;">
            <h5 class="logo-text"><b>Tenicons</b></h5>
            <div class="footer-links">
                <table>
                    <tr>
                        <th>Pages</th>
                        <th>Account</th>
                        <th>About</th>
                        <th>Contact</th>
                    </tr>
                    <tr>
                        <td><a href="/" class="link-text">Home</a></td>
                        <td><a href="/profile" class="link-text">Your account</a></td>
                        <td><a href="/about" class="link-text">about</a></td>
                        <td><a href="/contact" class="link-text">contact</a></td>
                    </tr>
                    <tr>
                        <td><a href="/about" class="link-text">about</a></td>
                        <td><a href="/account" class="link-text">Login account</a></td>
                        <td></td>
                        <td><a href="" class="link-text">Email us</a></td>
                    </tr>
                    <tr>
                        <td><a href="/contact" class="link-text">contact</a></td>
                        <td><a href="/account/createacc/" class="link-text">Create account</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <h5 class="link-text" style="padding: 10px 40px;"><b>2021 &copy; Tenicons</b> | <a href=""
                    class="link-text">Privacy Policies</a></h5>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>